table{
    border: blue 2px solid;
    margin: 20px
}
td{
    padding: 10px;
}
td:first-child{
    min-width: 50px;
    background-color: dimgray;
    color:rgb(0, 255, 42);
    font-weight: bold;
}
td:nth-child(2){
    min-width: 150;
    max-width:  500;
    background :powderblue
}